<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>

<body>
    <div class="main-content">
         {{>header}}
        <img class="portrait" src="/img/pic1.jpeg">
    </div>
  
    {{>footer}}
</body>
</html>